body {
    background-image: url(../images/fondo-circulos-tonos-oscuros.jpg);
    background-size: cover
}

.form {
    color: rgb(242, 164, 152);
    display: flex;
    flex-wrap: wrap;

    .form-label {
        margin: 10px;;
    }
}

.title {
    color: rgb(218, 193, 193);
    margin: 30px;
    padding: auto;
    text-align: center;
}

#addTask {
    margin-top: 30px;
}

.footer {
    color: white;
    text-align: center;
    padding: 20px 0;
}